<!DOCTYPE html>
<html lang="en">
	<head  th:include="tmpl-head :: head">
		<title>About This Server</title>
	</head>

	<body>
		<div th:replace="tmpl-navbar-top :: top" ></div>
		
		<div class="container-fluid">
			<div class="row">
				<div th:replace="tmpl-navbar-left :: left" ></div>

				<div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">

					<div th:replace="tmpl-banner :: banner"></div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">BlueButton Data on this Server</h3>
						</div>
						<div class="panel-body">
							<p>
							This server is regularly loaded with a standard set of test data sourced
							from CMS' own testing environment. Do not use this server to store any data
							that you will need later, as we will be regularly resetting it.
							</p>
							<p>
							<p>
							This is not a production server and it provides no privacy. Do not store any
							confidential data here.
							</p>
							</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<div th:replace="tmpl-footer :: footer" ></div>
	</body>
</html>
